<%= page_title(@collection.name) %>

<%= markdown(@collection.description) if @collection.description.present? %>

<% if @products.any? %>
  <div id="pgcontainer" class="pgcontainer">
    <ul class="pggrid" id="product-list">
      <%= render partial: 'products/product', collection: @products, as: :product %>
    </ul>
  </div>
<% end %>

<%= paginate @products %>

<script type="text/javascript">
$(function() {
  BentoShop.setup('#pgcontainer');
  EndlessScrolling.setup();
});
</script>