<p><%= Country[@country].name %> - <%= t('theme.shipping_rates_found', count: @shipping_rates.length) %>.</p>

<ul>
  <% @shipping_rates.each do |shipping_rate| %>
    <li><%= "#{shipping_rate.name}: #{number_to_currency shipping_rate.price} - #{t 'theme.shipping_rate.order_between'} #{shipping_rate.rate}" %></li>
  <% end %>
</ul>