# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/cache
/public/upload
.DS_Store
public/assets/
.rvmrc
/config/initializers/stripe.rb