@import "cards/*.png";

.card {
  width: 51px;
  height: 32px;
  display: inline-block;
  text-indent: -9999px;
  margin-left: 10px;
}

.visa {
  @include cards-sprite(visa);
  border: none;
}

.amex {
  @include cards-sprite(amex);
  border: none;
}

.mastercard {
  @include cards-sprite(mastercard);
  border: none;
}

.discover {
  @include cards-sprite(discover);
  border: none;
}

#stripe_error {
  color: #b94a48;
}