@import "compass/css3/font-face";
@import url(https://fonts.googleapis.com/css?family=Lato:400|News+Cycle|Lily+Script+One);

@include font-face("icomoon", 
  font-files(
    'icomoon/icomoon.woff', woff,
    'icomoon/icomoon.ttf', ttf,
    'icomoon/icomoon.svg', svg),
  $eot: 'icomoon/icomoon.eot',
  $weight:normal,
  $style:normal);

// [class^="icomoon icon-"],
[class*="icomoon icon-"] {
  font-family: 'icomoon';
  font-style: normal;
}

// [class^="icomoon icon-"]:hover,
[class*="icomoon icon-"]:hover {
  color: $red;
}

.icon-facebook:after {
  content: "\e007";
}
.icon-twitter:after {
  content: "\e008";
}
.icon-pinterest:after {
  content: "\e009";
}
.icon-cart:before {
  content: "\e000";
}
.icon-lock:before {
  content: "\e005"
}