/* pages */
#homepage.public {
  #site-intro {
 	  text-align: center;
 	  padding: 20px 0;
    font-family: 'Neuton', sans-serif;
    font-weight: 400;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
  }

	ul#products {
		margin-left: 0;

		li {
			margin-bottom:20px;
			
			.product-info {
				text-align: center;
				font-size: 18px;
				position: relative;

				h2 {
					position: absolute;
					top: 30%;
					left: 0;
					right: 0;
					background-color: $red;
					color: #ffffff;
					font-size: 18px;
					margin: -15px 0 0 0;
					padding: 2px 0 4px;
					text-align: center;
					font-weight: 300;
				}
				
				h4 {
					font-weight: 300;
					line-height: 1.3;
					height: 40px;
				}

				.product-price {

				}
			}
		}
	}
  
  #products>li.span3:nth-of-type(5) {
    margin-left: 0;
  }
}

#product.public {
	#related_products {
    padding-left: 0;

		li {
			list-style-type: none;
			display: inline;
			margin-bottom: 10px;
		}
	}
}

#cart.public {
	#cart {
		.total {
			text-transform: uppercase;
			font-weight: bold;

			.total-type {
        text-align: right;
			}
		}
	}
}

#checkout.public {
	.section {
		border-bottom: 1px solid #eee;
	}
	
	#stripe_error {
  	color: red;
  }
}

#order.public {

}