/* pages */
#homepage.public {
  .container > .main {
	width: 100%;
	//max-width: 69em;
  }
}

#product.public {
	#related_products {
    padding-left: 0;

		li {
			list-style-type: none;
			display: inline;
			margin-bottom: 10px;
		}
	}
}

#cart.public {
	#cart-actions {
    .btn {
    	margin-left: 10px;
    }
	}

	#cart-totals {
		font-size: 1.5em;
		margin: 20px 0;

		tr {
			line-height: 2em;
		}

		tr td:first-of-type {
			text-transform: uppercase;
    	color: #666;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
      padding-right: 25px;
      text-align: right;
		}
		tr td:last-of-type {

		}
	}

	#cart-checkout {
		float: right;

    h2 {
    	text-transform: uppercase;
    	color: #666;
    	font-size: 1.125em;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 1px;
    }
	}

	#shipping_calculator {
		border-top: 1px solid #dddddd;
		clear: both;
		//margin-top: 20px;
	}
}

#checkout.public {
	.section {
		border-bottom: 1px solid #eee;
	}
	
	#stripe_error {
  	color: $red;
  }
}

#order.public {

}

.well.address, .well {
	h4 {
		margin-top: 0;
		margin-bottom: 10px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}