<%= simple_form_for [:admin, @product, @picture], remote: true do |f| %>
  <div class="row-fluid">
    <div class="span4">
      <a href="#" class="thumbnail"><%= image_tag(@picture.upload.url(:thumb)) %></a>
    </div>
    <div class="span8">
      <%= f.input :name, input_html: {class: 'input-block-level'} %>
    </div>
  </div>
<% end %>