<%= content_for :email_body do %>
  Hi,

	<p>Your request was approved. You are now a reseller.</p>

	<p>Please visit <%= link_to "", reseller_dashboard_path %> to get started.</p>

	<p>Sincerely,</p>

	<p><%= t 'email.signature' %></p>
<% end %>