<%= content_for :body_id do %>checkout<% end %>

<%= page_title("#{t 'checkout'}") %>

<h2>Shipping & Payment</h2>

<script type="text/javascript" charset="utf-8">
  $(function() {
    PaymentGateway.init();
  });
</script>