<%= content_for :body_id do %>homepage<% end %>

<%= image_tag("theme/slide#{@random_slide}.jpg", alt: "#{t 'theme.site_intro'}", class: 'slide-home') %>

<% cache [@products, @currency] do %>
	<div id="pgcontainer" class="pgcontainer">
	  <ul class="pggrid" id="product-list">
	    <%= render partial: 'products/product', collection: @products, as: :product %>
	  </ul>
	</div>
<% end %>
<%= paginate @products %>

<script type="text/javascript">
	$(function() {
	  BentoShop.setup('#pgcontainer');
	  EndlessScrolling.setup();
	});
</script>