Hi,

<p>Your account has been created. Use the following information to sign in.</p>

<%= link_to login_url, login_url %>

<p>Username: <%= @user.email %></p>
<p>Password: <%= @random_password %> <%= @user.password %></p>

<p>If you have any questions please talk to store owner.</p>