<% if @collection.products.any? %>
  <% @collection.products.order('position').each do |product| %>
    <%= content_tag_for :li, product do %>
      <%= product.name %> <span class="remove fr">  <%= icon_link_to "", remove_products_admin_collection_path(@collection, product_id: product.id), method: :post, remote: true, icon: 'remove' %></span>
    <% end %>
  <% end %>
<% else %>
 <p class="alert">No Products in collection.<br>
  Assign products and sort the list with drag and drop.</p>
 </p>
<% end %>