$light-gray: #a7abb1;
$gray: #ebeff1;
$blue: #55606e;
$green: #6cc644;
$red: #f26c4f;

body,html{
  height:100%;
}

body.admin {
	/* global */
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $blue;
	height: 100%;
	margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  background: image-url('sidebar-bg.gif');

	a, a:visited {
		text-decoration: none;
	}

	h1 {
		color: #363f48;
	}

	/* layout */
	#header {
		position: relative;
		height: 85px;
		padding: 0 35px 0 40px;
		// margin-left: 275px;
		border-bottom: 1px solid  #e3e3e8;
		zoom: 1;
		@include box-sizing(border-box);
		background: #FFF;

		h1 {
			display: block;
			font-size: 20px;
			font-weight: bold;
			line-height: 82px;
			color: #363F48;
			margin: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.view-site, #user-info {
			font-size: 14px;
			font-weight: normal;
			margin-left: 10px;
		}

		a.view-site {
			color: $light-gray;
		  
		  &:hover {
			  color: $blue;
			}
		}
    
    #user-info {
    	color: $light-gray;
   
			a {
				color: $blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	#sidebar {
		float: left;
    width: 275px;
    min-height: 100%;
		padding: 40px 0;
    background: image-url('sidebar-bg.gif');
    position: absolute;
    top: 0;
    left: 0;

    ul {
    	list-style-type: none;
    	font-size: 15px;
			padding: 30px 0 40px 35px;

			li > a > [class^="icon-"], li > [class*="icon-"] {
        background-image: image-url('glyphicons-halflings-white.png') !important;
        margin-right: 3px;
        opacity: .3;
      }

      li:hover > a > [class^="icon-"], li:hover > a > [class*="icon-"],
      li.active > a > [class^="icon-"], li:active > a > [class*="icon-"], {
        opacity: 1;
      }

    	li {
        list-style-type: none;
        line-height: 26px;

        &:hover a, &.active a {
        	color: #fff;
        	cursor: pointer;
        }

        a {
          color: $light-gray;
        }

        &.nav-header {
        	text-transform: uppercase;
        	font-size: 12px;
        	margin-top: 10px;
        	color: #7e8186;
        }
    	}
    }
	}

	#content {
		// margin-left: 275px;
		padding: 0 35px;
		min-height: 850px;
    position: relative;
    @include box-sizing(border-box);
    background: #FFF;

    .page-title {
			margin-bottom: 30px;

			h1 {
				font-size: 30px;
				line-height: 40px;
				border-bottom: none;
			}
				
			a.btn {
				margin-left: 10px;
				line-height: 30px;
			}
    }

    .subsection-title {
			margin-top: 40px;
			margin-bottom: 30px;
			border-bottom: 1px solid #eeeeee;
		}
	}
	#wrapper {
		background: #FFF;
		margin-left: 275px;
	}

	/* buttons */
	.btn {
		display: inline-block;
	  *display: inline;
	  padding: 4px 12px;
	  margin-bottom: 0;
	  *margin-left: .3em;
	  font-size: 14px;
	  line-height: 20px;
	  font-weight: bold;
	  color: $blue;
	  background: $gray;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    @include border-radius(3px);
    border: none;
    box-shadow: none;
    min-width: 80px;

    &:hover {
    	background: darken($gray, 10%);
    	color: $blue;
    }
	}

	.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    @include border-radius(3px);
    min-width: inherit;
	}

	.btn-small [class^="icon-"],
	.btn-small [class*=" icon-"] {
	  margin-top: 0;
	}

	.btn-mini [class^="icon-"],
	.btn-mini [class*=" icon-"] {
	  margin-top: -1px;
	}

	.btn-mini {
	  padding: 0 6px;
	  font-size: 10.5px;
    @include border-radius(3px);
	}

	.btn-primary {
		background: $green;
		color: #ffffff;

		&:hover {
			background: darken($green, 10%);
    	color: #ffffff;
    }
	}

	.btn-error, .btn-danger {
		background: $red;
		color: #ffffff;

		&:hover {
			background: darken($red, 10%);
    	color: #ffffff;
    }
	}

	.btn-inverse {
		background: $blue;
		color: #ffffff;

		&:hover {
			background: lighten($blue, 10%);
    	color: #ffffff;
    }
	}

	/* forms */
	input, textarea {
		max-width: 900px;
	}

	.form-actions {
		margin-top: 30px;
		border-top: none;
		background: #ffffff;

		input[type="submit"] {
			padding: 10px;
		}

		&.reset {
			padding-left: 0;
		}
	}

	textarea {
		width: 100%;
		height: 150px;

		&.rows2 {
			height: 50px;
		}
	}

	.token-input-list-facebook {
		width: 910px;
	}

	div.well > .control-group:last-of-type {
    margin-bottom: 0;
  }
  
  /* tables */
  table {
	  max-width: 100%;
	  background-color: transparent;
	  border-collapse: collapse;
	  border-spacing: 0;
	}

	.table {
	  width: 100%;
	  margin-bottom: 20px;

	  td.indent {
	  	padding-left: 30px;
	  }
	}

	.table th,
	.table td {
	  padding: 8px;
	  line-height: 20px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px solid #dddddd;
	}

	.table th {
	  font-weight: bold;
	  text-transform: uppercase;
	}

	.table thead th {
	  vertical-align: bottom;
	}

	.table caption + thead tr:first-child th,
	.table caption + thead tr:first-child td,
	.table colgroup + thead tr:first-child th,
	.table colgroup + thead tr:first-child td,
	.table thead:first-child tr:first-child th,
	.table thead:first-child tr:first-child td {
	  border-top: 0;
	}

	.table tbody + tbody {
	  border-top: 2px solid #dddddd;
	}

	.table .table {
	  background-color: #ffffff;
	}

	.table-condensed th,
	.table-condensed td {
	  padding: 4px 5px;
	}

	.table-striped tbody > tr:nth-child(odd) > td,
  .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
  }

  /* alerts */
	.alert {
		background: #fffcee;
		border: 1px solid #f0dbb4;
		color: #ce8f22;
		@include border-radius(3px);
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 8px 35px 8px 14px;
	}

	.alert-success {
	  color: #468847;
	  background-color: #dff0d8;
	  border-color: #d6e9c6;
	}

	.alert-error {
		color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
	}

	/* labels, badges */
	.label, .badge {
	  display: inline-block;
	  padding: 2px 4px;
	  font-size: 11.844px;
	  font-weight: normal;
	  line-height: 14px;
	  color: #ffffff;
	  white-space: nowrap;
	  vertical-align: baseline;
	  background-color: #999999;
	  text-transform: uppercase;
	}

	.label {
		@include border-radius(2px);
	}

	.badge {
	  padding-right: 9px;
	  padding-left: 9px;
	  @include border-radius(9px);
	}

	.label-important,
	.badge-important {
	  background-color: $red;
	}

	.label-warning,
	.badge-warning {
	  background-color: #fbb05e;
	}

	.label-success,
	.badge-success {
	  background-color: $green;
	}

	.label-info,
	.badge-info {
	  background-color: $blue;
	}

  /* Misc */
  .well {
	  min-height: 20px;
	  padding: 19px;
	  margin-bottom: 20px;
	  background-color: #f5f5f5;
	  border: 1px solid #e3e3e3;
	  @include border-radius(4px);
	  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05));

	  .alert {
	  	margin-top: 0;
	  }
	}

	.well-small {
	  padding: 9px;
	  @include border-radius(3px);
	}

	.pagination {
	  margin: 20px 0;
	}

	.pagination ul {
	  display: inline-block;
	  *display: inline;
	  margin-bottom: 0;
	  margin-left: 0;
	  @include border-radius(4px);
	  *zoom: 1;
	  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.05));
	}

	.pagination ul > li {
	  display: inline;
	}

	.pagination ul > li > a,
	.pagination ul > li > span {
	  float: left;
	  padding: 4px 12px;
	  line-height: 20px;
	  text-decoration: none;
	  background-color: #ffffff;
	  border: 1px solid #dddddd;
	  border-left-width: 0;
	}

	.pagination ul > li > a:hover,
	.pagination ul > li > a:focus,
	.pagination ul > .active > a,
	.pagination ul > .active > span {
	  background-color: #f5f5f5;
	}

	.pagination ul > .active > a,
	.pagination ul > .active > span {
	  color: #999999;
	  cursor: default;
	}

	.pagination ul > .disabled > span,
	.pagination ul > .disabled > a,
	.pagination ul > .disabled > a:hover,
	.pagination ul > .disabled > a:focus {
	  color: #999999;
	  cursor: default;
	  background-color: transparent;
	}

	.pagination ul > li:first-child > a,
	.pagination ul > li:first-child > span {
	  border-left-width: 1px;
	  @include border-bottom-left-radius(4px);
	  @include border-top-left-radius(4px);
	}

	.pagination ul > li:last-child > a,
	.pagination ul > li:last-child > span {
		@include border-bottom-right-radius(4px);
	  @include border-top-right-radius(4px);
	}

	.pagination-centered {
	  text-align: center;
	}

	.pagination-right {
	  text-align: right;
	}

	address {
	  display: block;
	  margin-bottom: 20px;
	  font-style: normal;
	  line-height: 20px;
	}

	code, pre {
	  padding: 0 3px 2px;
	  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	  font-size: 12px;
	  color: #333333;
	  @include border-radius(3px);
	}

	code {
	  padding: 2px 4px;
	  color: #d14;
	  white-space: nowrap;
	  background-color: #f7f7f9;
	  border: 1px solid #e1e1e8;
	}

	pre {
	  display: block;
	  padding: 9.5px;
	  margin: 0 0 10px;
	  font-size: 13px;
	  line-height: 20px;
	  word-break: break-all;
	  word-wrap: break-word;
	  white-space: pre;
	  white-space: pre-wrap;
	  background-color: #f5f5f5;
	  border: 1px solid #ccc;
	  border: 1px solid rgba(0, 0, 0, 0.15);
	  @include border-radius(4px);
	}

	pre.prettyprint {
	  margin-bottom: 20px;
	}

	pre code {
	  padding: 0;
	  color: inherit;
	  white-space: pre;
	  white-space: pre-wrap;
	  background-color: transparent;
	  border: 0;
	}

	.pre-scrollable {
	  max-height: 340px;
	  overflow-y: scroll;
	}

	ul.pictures {
		padding: 0;

		li {
			margin: 0 20px 20px 0;

			a.thumbnail {
				margin-bottom: 10px;
			}
		}
	}
	#picture_image {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
