/* global */
#md_link {
	font-weight: normal;
}

.rate {
	position: relative;

	.remove_nested_fields {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

/* Dashboard */
.stats-row {
	margin-bottom: 20px;

	div.span3:first-of-type {
	  margin-left: 0;
  }

	.span3 h4 {
		font-weight: normal;
	}
}

/* Orders */
#order_date {
	font-size: 16px;
	font-weight: normal;
}

#addresses {
	.address {
		padding: 4px;
	}
	.address.billing {
		margin-left: 0;
	}
	.address.shipping {
		background: #f9f9f9;
	}
}

/* Collections */
#products-list, #collection-products {
	padding-left: 0;
	padding-top: 0;

	li {
		list-style-type: none;
		line-height: 36px;
		border-top: 1px solid #e5e5e5;
		padding: 0 14px;
	}
	li:first-child {
		border-top: none;
	}
}

#collection-products {
	li:hover {
		cursor: move;
		background-color: #eeeeee;
	}
	.alert {
		margin-top: 0;
	}
}

/* tables */
table#stocks, table#shipping_countries {
	tr.odd {
		td {
			background: #f9f9f9;
		}
	}
	tr.even {
		td {
			background: #ffffff;
		}
	}
	tr {
		td.variant {
			padding-left: 50px;
		}	
		td {
			input {
				margin: 0;
			}
		}
	}
}

table#options_fields {
	tr {
		td {
			vertical-align: middle;
		}
	}
}

table#table-variants {
	margin-bottom: 0;

	span.option-1 {
		color: #75a630 !important;
	}
	span.option-2 {
		color: #c1873c !important;
	}
	span.option-3 {
		color: #425a91 !important;
	}
}

table#table-options {
	tr:first-of-type td {
		border-top: none;
		line-height: 35px;
	}
}

/* reports */
#month_selector {
	text-align: center;
}