$light-gray: #a7abb1;
$blue: #55606e;
$green: #417e26;
$red: #f26c4f;

body.admin {
	/* global */
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $blue;
	height: 100%;
	margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  font-size: 100%;

	a, a:visited {
		color: $light-gray;
		text-decoration: none;

		&:hover {
			color: $blue;
		}
	}

	h1 {
		color: #363f48;
	}

	/* layout */
	#header {
		position: relative;
		height: 85px;
		padding: 0 35px 0 40px;
		margin-left: 275px;
		border-bottom: 1px solid  #e3e3e8;
		zoom: 1;
		@include box-sizing(border-box);

		h1 {
			display: block;
			font-size: 20px;
			font-weight: bold;
			line-height: 82px;
			color: #363F48;
			margin: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		.view-site, #user-info {
			font-size: 14px;
			font-weight: normal;
			margin-left: 10px;
		}

		.view-site a:hover {
			color: $blue;
		}
    
    #user-info {
    	color: $light-gray;
   
			a {
				color: $blue;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	#sidebar {
		float: left;
    width: 275px;
    min-height: 100%;
		padding: 40px 0;
    background: image-url('sidebar-bg.gif');
    position: absolute;
    top: 0;
    left: 0;

    ul {
    	list-style-type: none;
    	font-size: 15px;
			padding: 30px 0 40px 35px;

			li > a > [class^="icon-"], li > [class*="icon-"] {
        background-image: image-url('glyphicons-halflings-white.png') !important;
        margin-right: 3px;
        opacity: .3;
      }

      li:hover > a > [class^="icon-"], li:hover > a > [class*="icon-"],
      li.active > a > [class^="icon-"], li:active > a > [class*="icon-"], {
        opacity: 1;
      }

    	li {
        list-style-type: none;
        line-height: 26px;

        &:hover a, &.active a {
        	color: #fff;
        	cursor: pointer;
        }

        a {
          color: $light-gray;
        }

        &.nav-header {
        	text-transform: uppercase;
        	font-size: 12px;
        	margin-top: 10px;
        	color: #7e8186;
        }
    	}
    }
	}

	#content {
		margin-left: 275px;
		padding: 0 35px;
		min-height: 710px;
    position: relative;
    @include box-sizing(border-box);

    .page-title {
			margin-bottom: 30px;

			h1 {
				font-size: 30px;
				line-height: 40px;
				border-bottom: none;
			}
				
			a.btn {
				margin-left: 10px;
				line-height: 30px;
			}
    }
	}
}