@import "compass";

.clearfix {
  @include clearfix;
}
.pagination {
	float: right;
}
.fr {
	float: right;
}
.fl {
  float: left;
}
.nolabel {
	margin-left: 180px;
}
.normal-text {
	font-weight: normal;
}