$green: #27ae60;
$green-light: #2ecc71;

body.public {
	/* layout */
	padding-top: 60px;
  padding-bottom: 40px;

	#topbar {
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;

		#user-info {
			padding-bottom: 10px;
	  }
	}
	
	#navbar {
		margin-bottom: 20px;

		ul {
			list-style-type: none;
			float: right;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				padding: 5px 10px;
			}
		}
	}

	/* buttons */
	.btn {

	  &.btn-add-to-cart	{
      background: $green;
      width: 100%;
      border: none;
      padding: 8px 14px;
      color: #ffffff;

      &:hover {
      	background: $green-light;
      }
	  }
	}
  
  /* tables */
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
	}

	.table {
	  width: 100%;
	  margin-bottom: 20px;
	}

	.table th,
	.table td {
	  padding: 8px;
	  line-height: 20px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px solid #dddddd;
	}

	.table th {
	  font-weight: bold;
	  text-transform: uppercase;
	}

	.table thead th {
	  vertical-align: bottom;
	}

	.table tbody + tbody {
	  border-top: 2px solid #dddddd;
	}

	.table .table {
	  background-color: #ffffff;
	}

	.table-striped tbody > tr:nth-child(odd) > td,
  .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
  }

	/* forms */
	textarea {
		width: 100%;
		max-width: 976px;
		height: 200px;
	}

  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
}

/* pages */
#homepage.public {
	ul#products {
		margin-left: 0;
	}
  
  #products>li.span3:nth-of-type(5) {
    margin-left: 0;
  }
}

#product.public {
	#related_products {
    padding-left: 0;

		li {
			list-style-type: none;
			display: inline;
			margin-bottom: 10px;
		}
	}
}

#cart.public {
	#cart {
		.total {
			text-transform: uppercase;
			font-weight: bold;

			.total-type {
        text-align: right;
			}
		}
	}
}

#checkout.public {
	.section {
		border-bottom: 1px solid #eee;
	}
	
	#stripe_error {
  	color: red;
  }
}

#order.public {

}