body.public {
	padding-top: 60px;
  padding-bottom: 40px;

	#topbar {
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;

		#user-info {
			padding-bottom: 10px;
	  }
	}
	
	#navbar {
		margin-bottom: 20px;

		ul {
			list-style-type: none;
			float: right;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				padding: 5px 10px;
			}
		}
	}
  
  /* tables */
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
	}

	.table {
	  width: 100%;
	  margin-bottom: 20px;
	}

	.table th,
	.table td {
	  padding: 8px;
	  line-height: 20px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px solid #dddddd;
	}

	.table th {
	  font-weight: bold;
	  text-transform: uppercase;
	}

	.table thead th {
	  vertical-align: bottom;
	}

	.table tbody + tbody {
	  border-top: 2px solid #dddddd;
	}

	.table .table {
	  background-color: #ffffff;
	}

	.table-striped tbody > tr:nth-child(odd) > td,
  .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
  }

	/* forms */
	textarea {
		width: 100%;
		max-width: 976px;
		height: 200px;
	}
}

#homepage.public {
	ul#products {
		margin-left: 0;
	}
  
  #products>li.span3:nth-of-type(5) {
    margin-left: 0;
  }
}

#cart.public {
	#cart {
		.total {
			text-transform: uppercase;
			font-weight: bold;

			.total-type {
        text-align: right;
			}
		}
	}
}

#checkout.public {
	.section {
		border-bottom: 1px solid #eee;
	}
	
	#stripe_error {
  	color: red;
  }
}

#order.public {

}