$green: #27ae60;
$green-light: #2ecc71;
@import "compass";

body.public {
	/* layout */
	padding-top: 60px;
  padding-bottom: 40px;

	#topbar {
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;

		#user-info {
			padding-bottom: 10px;
	  }
	}
	
	#navbar {
		margin-bottom: 20px;

		ul {
			list-style-type: none;
			float: right;
			margin: 0;
			padding: 0;

			li {
				display: inline;
				padding: 5px 10px;
			}
		}
	}

	/* buttons */
	.btn {

	  &.btn-add-to-cart	{
      background: $green;
      width: 100%;
      border: none;
      padding: 8px 14px;
      color: #ffffff;

      &:hover {
      	background: $green-light;
      }
	  }
	}
  
  /* tables */
  table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
	}

	.table {
	  width: 100%;
	  margin-bottom: 20px;
	}

	.table th,
	.table td {
	  padding: 8px;
	  line-height: 20px;
	  text-align: left;
	  vertical-align: top;
	  border-top: 1px solid #dddddd;
	}

	.table th {
	  font-weight: bold;
	  text-transform: uppercase;
	}

	.table tr.total {
		font-weight: bold;

		td:first-of-type {
			text-align: right;
		}
	}

	.table thead th {
	  vertical-align: bottom;
	}

	.table tbody + tbody {
	  border-top: 2px solid #dddddd;
	}

	.table .table {
	  background-color: #ffffff;
	}

	.table-striped tbody > tr:nth-child(odd) > td,
  .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
  }

	/* forms */
	textarea {
		width: 100%;
		max-width: 976px;
		height: 200px;
	}

  .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05)); 
  }

  /* alerts */
  .alert {
	  padding: 8px 35px 8px 14px;
	  margin-bottom: 20px;
	  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	  background-color: #fcf8e3;
	  border: 1px solid #fbeed5;
	  @include border-radius(4px);
	}

	.alert-success {
	  color: #468847;
	  background-color: #dff0d8;
	  border-color: #d6e9c6;
	}

	.alert-danger,
	.alert-error {
	  color: #b94a48;
	  background-color: #f2dede;
	  border-color: #eed3d7;
	}

	.alert-info {
	  color: #3a87ad;
	  background-color: #d9edf7;
	  border-color: #bce8f1;
	}

	.alert-block {
	  padding-top: 14px;
	  padding-bottom: 14px;
	}

	.alert-block > p,
	.alert-block > ul {
	  margin-bottom: 0;
	}

	.alert-block p + p {
	  margin-top: 5px;
	}

	/* status */
	.label {
		&.state-pending {
      // default
		}
		&.state-shipped {
      background-color: #f89406; // warning level
		}
		&.state-completed {
      background-color: #356635; // success level
		}
	}

	.label,
	.badge {
	  display: inline-block;
	  padding: 2px 4px;
	  font-size: 11.844px;
	  font-weight: bold;
	  line-height: 14px;
	  color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  white-space: nowrap;
	  vertical-align: baseline;
	  background-color: #999999;
	}

	.label {
		@include border-radius(3px);
	}

	.badge {
	  padding-right: 9px;
	  padding-left: 9px;
	  @include border-radius(9px);
	}

	.label:empty,
	.badge:empty {
	  display: none;
	}

	a.label:hover,
	a.label:focus,
	a.badge:hover,
	a.badge:focus {
	  color: #ffffff;
	  text-decoration: none;
	  cursor: pointer;
	}

	.label-important,
	.badge-important {
	  background-color: #b94a48;
	}

	.label-important[href],
	.badge-important[href] {
	  background-color: #953b39;
	}

	.label-warning,
	.badge-warning {
	  background-color: #f89406;
	}

	.label-warning[href],
	.badge-warning[href] {
	  background-color: #c67605;
	}

	.label-success,
	.badge-success {
	  background-color: #468847;
	}

	.label-success[href],
	.badge-success[href] {
	  background-color: #356635;
	}

	.label-info,
	.badge-info {
	  background-color: #3a87ad;
	}

	.label-info[href],
	.badge-info[href] {
	  background-color: #2d6987;
	}

	.btn .label,
	.btn .badge {
	  position: relative;
	  top: -1px;
	}

	/* Misc. */
	.well.address {
		h4 {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

// ******************** //
/* pages */
#homepage.public {
	ul#products {
		margin-left: 0;
	}
  
  #products>li.span3:nth-of-type(5) {
    margin-left: 0;
  }
}

#product.public {
	#related_products {
    padding-left: 0;

		li {
			list-style-type: none;
			display: inline;
			margin-bottom: 10px;
		}
	}
}

#cart.public {
	#cart {
		.total {
			text-transform: uppercase;
			font-weight: bold;

			.total-type {
        text-align: right;
			}
		}
	}
}

#checkout.public {
	.section {
		border-bottom: 1px solid #eee;
	}
	
	#stripe_error {
  	color: red;
  }
}

#order.public {

}