$light-gray: #a7abb1;
$blue: #55606e;
$green: #417e26;
$red: #f26c4f;

body.admin {
	/* global */
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $blue;
	//height: 100%;
	margin: 0;
  padding: 0;

	a, a:visited {
		color: $light-gray;
		text-decoration: none;

		&:hover {
			color: $blue;
		}
	}

	h1 {
		color: #363f48;
	}

	/* layout */
  #navbar {
	  padding-left: 20px;
	  padding-right: 36.83333206176758px;

	  .navbar-text > a, .navbar-text > a:hover {
		  color: #fff;
	  }
	}

	#sidebar {
		float: left;
    width: 275px;
    min-height: 100%;
		padding: 40px 0;
    background: image-url('sidebar-bg.gif');
    position: absolute;
    top: 0;
    left: 0;

    a {
      color: $light-gray;
      font-size: 15px;
    }

    i {
    	opacity: .3;
    }

    .nav-header {
    	color: #7e8186;
    }

    a, .nav-header {
    	box-shadow: none;
	    text-shadow: none;
    }

    li {
	    line-height: 22px;
	  }

		.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > li a:hover {
			background: $light-gray;
			color: #fff;

			i {
			  opacity: 1;
			}
		}
    
    .nav-list > li > a > [class^="icon-"],
    .nav-list > li > a > [class*="icon-"],
    .nav-tabs > .active > a > [class^="icon-"], 
    .nav-tabs > .active > a > [class*=" icon-"] {
      background-image: image-url('glyphicons-halflings-white.png') !important;
    }
	}

	#header {
		height: 85px;
		border-bottom: 1px solid #e3e3e8;
		zoom: 1;
		@include box-sizing(border-box);

		h1 {
			display: block;
			font-size: 20px;
			font-weight: bold;
			line-height: 82px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;

			.view-site, #user-info {
				font-size: 14px;
				font-weight: normal;
				margin-left: 10px;
			}

			.view-site a:hover {
				color: $blue;
			}
      
      #user-info {
      	color: $light-gray;
     
				a {
					color: $blue;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	#content {
		margin-left: 275px;
    padding: 0 20px;

	 //  #main_content {
		//   padding-right: 36.83333206176758px;

		//   .page-title {
		// 		margin-bottom: 25px;

		// 		h1 {
		// 			font-size: 30px;
		// 			line-height: 40px;
		// 			border-bottom: none;
		// 		}
				
		// 		a.btn {
		// 			margin-left: 10px;
		// 			line-height: 30px;
		// 		}

		// 		.btn-group {
  //         a.btn {
  //         	margin-left: -1px;
  //         	font-weight: normal;
  //         }
		// 		}
		// 	}
		// }
  }

  /* badge, label */
	.badge, .label {
	  text-transform: uppercase;
	}

	/* alert */
	.alert {
		background: #fffcee;
		border: 1px solid #f0dbb4;
		color: #ce8f22;
		@include border-radius(3px);
		margin-top: 20px;
	}

	.alert-success {
	  color: #468847;
	  background-color: #dff0d8;
	  border-color: #d6e9c6;
	}

	.alert-error {
		color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
	}

	/* buttons */
	a.btn, input.btn {
    color: $blue;
	}

  a.btn.btn-primary, input.btn.btn-primary,
  a.btn.btn-danger, input.btn.btn-danger {
  	border: none;
  	box-shadow: none;
    color: #fff;
    text-shadow: none;
    padding: 4px 12px;
    line-height: 30px;
  }
  
  a.btn.btn-primary, input.btn.btn-primary {
  	background: #6cc644;

  	&:hover {
      background: darken(#6cc644, 20%);
  	}
  }

  a.btn.btn-danger, input.btn.btn-danger {
  	background: $red;

  	&:hover {
      background: darken($red, 20%);
  	}
  }

  /* forms */
	textarea {
		width: 100%;
		height: 150px;

		&.rows2 {
			height: 50px;
		}
	}

	.form-actions {
		padding: 20 20 20;
		border-top: none;
		background: #fff; 
	}

	.token-input-list-facebook {
		width: 855px;
	}

	div.well > .control-group:last-of-type {
    margin-bottom: 0;
  }

	/* tables */
	.table {
		th {
			text-transform: uppercase;
		}
		a {
			color: #0088cc;

			&:hover, &:focus {
        color: #005580;
			}
		}

		a.btn {
			color: #333333;
		}
	}
	table#stocks, table#shipping_countries {
		tr.odd {
			td {
				background: #f9f9f9;
			}
		}
		tr.even {
			td {
				background: #ffffff;
			}
		}
		tr {
			td.variant {
				padding-left: 50px;
			}	
			td {
				input {
					margin: 0;
				}
			}
		}
	}
	table#options_fields {
		tr {
			td {
				vertical-align: middle;
			}
		}
	}
	table#table-variants {
		margin-bottom: 0;
		
		th {
			text-transform: uppercase;
		}
		
		span.option-1 {
			color: #75a630 !important;
		}
		span.option-2 {
			color: #c1873c !important;
		}
		span.option-3 {
			color: #425a91 !important;
		}
	}
	table#table-options {
		tr:first-of-type td {
			border-top: none;
			line-height: 35px;
		} 
	}
	.rate {
		position: relative;

		.remove_nested_fields {
			position: absolute;
			top: 20px;
			right: 20px;
		}
	}
}

/* views */
.subsection-title {
	margin-top: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eeeeee;
}

#md_link {
	font-weight: normal;
}

/* Zen form */
.go-zen { // icon position within form control
  position: absolute;
  top: 10px;
  right: 5px;
}
.s--zen {
  background-position: -16px -16px;
}
.s {
	background-image: url('zen-form-sprites.png');
	display: inline-block;
	line-height: 1;
	position: relative;
	vertical-align: top;
	zoom: 1;
	width: 16px;
	height: 16px;
	top: -1px;
	overflow: hidden;
}
.s::before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}
textarea#zen-forms-input0 {
	height: 100%;
	min-height: 650px;
}
textarea.zen-mode {
	padding-right: 30px;
	margin-right: -30px;
	max-width: 820px;
}

/* Dashboard */
.stats-row {
	margin-bottom: 20px;

	div.span3:first-of-type {
	  margin-left: 0;
  }

	.span3 h4 {
		font-weight: normal;
	}
}

/* Orders */
#order_date {
	font-size: 16px;
	font-weight: normal;
}

#addresses {
	.address {
		padding: 4px;
	}
	.address.billing {
		margin-left: 0;
	}
	.address.shipping {
		background: #f9f9f9;
	}
}

/* Collections */
.bs-docs-sidenav {
		padding: 0;
		background-color: #fff;
		@include border-radius(6px);
		@include box-shadow(0 1px 4px rgba(0,0,0,.065));

		.icon-chevron-right {
		  float: right;
		  margin-top: 2px;
		  margin-right: -6px;
		  opacity: .25;
	  }
  }
  .bs-docs-sidenav > li:first-child > a {
  	@include border-radius(6px 6px 0 0);
  }
	.bs-docs-sidenav > li > a {
		display: block;
		width: 190px 9;
		margin: 0 0 -1px;
		padding: 8px 14px;
		border: 1px solid #e5e5e5;
	}

#collection-products {
	li {
		list-style-type: none;
		line-height: 36px;
		border-top: 1px solid #e5e5e5;
		padding: 0 14px; 

		&:hover {
			cursor: move;
			background-color: #eeeeee;
		}
	}
	.alert {
		margin-top: 0;
	}
}	