<header class="clearfix">
  <ul id="user-info"></ul>

	<h1><%= link_to "#{t 'theme.site_name'}", root_url %>
		<span class="site-slogan"><%= t 'theme.site_slogan' %></span>
		<span class="cart-summary">
		  <i class="icomoon icon-cart"></i> <%= link_to "#{t 'theme.cart.title'}", cart_path %> - 
      <%= pluralize(current_cart.items.length, "#{t 'item'}") %>
    </span>
	</h1>
</header>