<header class="clearfix">
	<span>Blueprint <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
	<h1><%= t 'site_name' %></h1>
	<nav>
		<a href="http://tympanus.net/Blueprints/VerticalTimeline/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a>
		<a href="http://tympanus.net/Blueprints/ProductGridLayout/" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
		<a href="http://tympanus.net/codrops/?p=15092" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
		<a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
	</nav>
</header>	
<div class="main">
	<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
		<div class="cbp-hsinner">
			<ul class="cbp-hsmenu">
				<li>
					<a href="#">Bento Lunch Box</a>
					<ul class="cbp-hssubmenu">
						<li><a href="#"><img src="assets/samples/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
						<li><a href="#"><img src="assets/samples/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
						<li><a href="#"><img src="assets/samples/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
						<li><a href="#"><img src="assets/samples/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
						<li><a href="#"><img src="assets/samples/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
						<li><a href="#"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
					</ul>
				</li>
				<li>
					<a href="#">Accessories</a>
					<ul class="cbp-hssubmenu cbp-hssub-rows">
						<li><a href="#"><img src="assets/samples/7.png" alt="img07"/><span>Lovely Slurp</span></a></li>
						<li><a href="#"><img src="assets/samples/8.png" alt="img08"/><span>Lemony Grappa</span></a></li>
						<li><a href="#"><img src="assets/samples/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
						<li><a href="#"><img src="assets/samples/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
						<li><a href="#"><img src="assets/samples/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
						<li><a href="#"><img src="assets/samples/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
						<li><a href="#"><img src="assets/samples/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
						<li><a href="#"><img src="assets/samples/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
						<li><a href="#"><img src="assets/samples/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
						<li><a href="#"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
						<li><a href="#"><img src="assets/samples/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
						<li><a href="#"><img src="assets/samples/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
					</ul>
				</li>
				<li>
					<a href="#">Category</a>
					<ul class="cbp-hssubmenu">
						<li><a href="#"><img src="assets/samples/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
						<li><a href="#"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
						<li><a href="#"><img src="assets/samples/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
					</ul>
				</li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Blog</a></li>
			</ul>
		</div>
	</nav>
</div>