<header class="clearfix">
  <ul id="user-info">
		
	</ul>

	<h1><%= link_to "#{t 'site_name'}", root_url %>
		<span class="site-slogan"><%= t 'site_slogan' %></span>
	</h1>
	<span class="fr">
		<i class="icomoon icon-cart"></i> <%= link_to "#{t 'carts.title'}", cart_path %> - 
    <%= pluralize(current_cart.items.length, "#{t 'item'}") %>
  </span>
</header>