<!-- Modal -->
<div id="mdModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="mdModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Markdown format</h3>
  </div>
  <div class="modal-body">
  	<h5>Headers</h5>
    <pre># This is an &lt;h1&gt; tag
###### This is an &lt;h6&gt; tag</pre>
    
    <h5>Text styles</h5>
    <pre>*<i>This text will be italic</i>*
**<strong>This text will be bold</strong>**
*<i>You **<strong>can</strong>** combine them</i>*</pre>
    
    <h5>Lists</h5>
    <pre>Unordered
* Item 1
* Item 2
  * Item 2a
  * Item 2b
Ordered
1. Item 1
2. Item 2
   * Item 2a
   * Item 2b
    </pre>

    <h5>Images</h5>
    <pre>![GitHub Logo](/images/logo.png)
Format: ![Alt Text](url)
    </pre>

    <h5>Links</h5>
    <pre>http://github.com - automatic!
[GitHub](http://github.com)</pre>

    <h5>Citations</h5>
    <pre>As Kanye West said:
> We're living the future so
> the present is our past.</pre>
  </div>
</div>