<div id="pgcontainer" class="pgcontainer" style="margin-top:40px;">
  <ul class="pggrid">
  	<% @products.limit(8).each_with_index do |product, index| %>
	    <%= render product, index: index %>
	  <% end %>
  </ul>
</div>

<script>
  BentoShop.setup('#pgcontainer');
</script>