<% if @product.cross_sell_products.any? %>
  <h3 id="related-products"><%= t 'theme.products.related' %></h3>

  <ul id="related_products" class="row-fluid">
		<% @product.cross_sell_products.each do |product| %>
	    <li class="span3">
        <%= link_to image_tag(product.pictures.first.upload.url(:thumb), alt: "#{product.pictures.first.name}", size: "125x125"), product_path(product.slug) if product.pictures.any? %><br>
	      <%= link_to product.name, product_path(product.slug) %>
	    </li>
	  <% end %>
  </ul>
<% end %>